<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Filmes</title>
</head>
<body>
    <h1>Lista de Filmes</h1>

    <a href="{% url 'criar_filme' %}">Cadastrar Manual</a>
<a href="{% url 'buscar_filme_api' %}">Buscar Filme na API</a>
<a href="{% url 'listar_categorias' %}">Categorias</a>

    <ul>
        {% for filme in filmes %}
    <li>
        {{ filme.titulo }} - {{ filme.categoria.nome }}
        <br>
        {% if filme.poster %}
            <img src="{{ filme.poster }}" width="100">
        {% endif %}
        <br>
        <a href="{% url 'editar_filme' filme.id %}">Editar</a>
        <a href="{% url 'deletar_filme' filme.id %}">Deletar</a>
    </li>
    {% endfor %}
    </ul>

    <style>
    body {
    font-family: Arial;
    margin: 20px;
    }
    h1 {
    color: #333;
    }
    a {
    margin-right: 10px;
    }
</style>
</body>
</html>