<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Filmes</title>
</head>
<body>
    <h1>Lista de Filmes</h1>

    <a href="{% url 'criar_filme' %}">Cadastrar Manual</a>
    <a href="{% url 'buscar_filme_api' %}">Buscar Filme na API</a>

    <ul>
        {% for filme in filmes %}
            <li>
                {{ filme.titulo }} - {{ filme.categoria.nome }}
                <a href="{% url 'editar_filme' filme.id %}">Editar</a>
                <a href="{% url 'deletar_filme' filme.id %}">Deletar</a>
            </li>
        {% empty %}
            <li>Nenhum filme cadastrado.</li>
        {% endfor %}
    </ul>
</body>
</html>