<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Filme</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'filmes/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Formulário de Filme</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>

        <div class="acoes">
            <a href="{% url 'listar_filmes' %}">Voltar para Filmes</a>
        </div>
    </div>
</body>
</html>